.NUXCarousel {
    background-color: rgba(0,0,0,0.85);
    position: relative;
}

.NUXCarousel_items {
    background-color: rgba(225,225,225,0.2);
    border: 1px solid white;
    margin: auto;
    padding: 10px;
    width: 50%;
}

.inactive {
    display: none;
}

.active {
    display: block;
    height: 500px;
    margin: 40px 5% 0;
    width: 700px;
    width: 90%;
}

.slideContent {
    height: 40em;
}

.NUXCarousel_controls {
    padding: 1em;
}

.NUXCarousel_controls_close {
    display: inline;
    float: right;
}

.NUXCarousel_controls_prev {
    display: inline;
}

.NUXCarousel_controls_next {
    display: inline;
}

.btnPrevious {
    margin: 1em;
}

.btnNext {
    margin: 1em;
}

.btnClose {
    background-color: transparent;
    border: none;
    display: block;
    float: right;
    opacity: 1;
    width: 15px !important;
}

.btnClose:hover {
  opacity: .8;
}

.NUXCarousel_progressDot {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 0 4px;
    width: 10px;
}

.NUXCarousel_dotsWrapper {
    display: inline;
    margin: auto;
    text-align: center;
    top: 360px;
    width: 100%;
 }

.progressDotActive {
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 0 4px;
    width: 10px;
}

.progressDotInactive {
    background-color: #777;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin: 0 4px;
    width: 10px;
}