.PinLayoutImagePanel {
  position: relative;
}

input[type=range].zoom {
  display: none;
  left: 10%;
  position: absolute;
  right: 10%;
  top: 5px;
  width: 78%;
  z-index: 99;
}

.slidersmall {
  display: none;
  left: 2%;
  pointer-events: none;
  position: absolute;
  top: 5px;
  width: 3.5%;
  z-index: 99;
}

.sliderlarge {
  display: none;
  pointer-events: none;
  position: absolute;
  right: 2%;
  top: 5px;
  width: 4.5%;
  z-index: 99;
}

.toggleresize {
  bottom: 5px;
  display: none;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

:global(.react-resizable-handle) {
  opacity: 0;
}

.PinLayoutImagePanel:hover .zoom {
  display: block;
}

.PinLayoutImagePanel:hover .slidersmall {
  display: block;
}

.PinLayoutImagePanel:hover .sliderlarge {
  display: block;
}

.PinLayoutImagePanel:hover .toggleresize {
  display: block;
}

.PinLayoutImagePanel:hover :global(.react-resizable-handle) {
  opacity: 1;
}