.PinLayoutImagePanel {
  position: relative;
}

input[type=range].zoom {
  display: none;
  position: absolute;
  top: 5px;
  left: 10%;
  right: 10%;
  width: 78%;
  z-index: 99;
}

.slidersmall {
  display: none;
  position: absolute;
  top: 5px;
  left: 2%;
  z-index: 99;
  pointer-events: none;

}

.sliderlarge {
  display: none;
  position: absolute;
  top: 5px;
  right: 2%;
  z-index: 99;
  pointer-events: none;

}

.toggleresize {
  display: none;
  position: absolute;
  bottom: 10px;
  right:107px;
  pointer-events: none;
}

.toggleresize {
  display: none;
  position: absolute;
  bottom: 10px;
  right:107px;
}


:global(.react-resizable-handle) {
  opacity: 0;
}

.PinLayoutImagePanel:hover .zoom {
  display: block;
}

.PinLayoutImagePanel:hover .slidersmall {
  display: block;
}

.PinLayoutImagePanel:hover .sliderlarge {
  display: block;
}

.PinLayoutImagePanel:hover .toggleresize {
  display: block;
}

.PinLayoutImagePanel:hover :global(.react-resizable-handle) {
  opacity: 1;
}
